<html>


<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

            <div class="not-found content">
                OOPS, you fucked UP :D
            </div>
    </body>
    <%- include('./partials/footer.ejs') %>

</html>