<html>


<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

            <div class="Blogs content">
                <h2>About Us</h2>
                <p>Mama, kamusta na?</p>
                <p>'Di na tayo laging nagkikita, Miss na kita, sobra</p>
                <p>Lagi na lang kami ang nauuna 'Di ba pwedeng ikaw muna? Akin na'ng pangamba</p>
            </div>
    </body>
    <%- include('./partials/footer.ejs') %>

</html>